<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">مؤسسة عابر</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="about.html">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#vision">رؤيتنا ورسالتنا وقيمنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services.html">مجالات العمل</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#advantages">مميزاتنا التنافسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects.html">المشاريع المنفذة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#contact">تواصل معنا</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 